<h1>New Tasks</h1>


<%= form_for(@task) do |task| %>
  <%= task.label :title %>
  <%= task.text_field :title %>
  <%= task.label :details %>
  <%= task.text_field :details%>
  <%= task.submit %>
<% end %>

<h2><%= link_to "back to the list", task_path%></h2>
